
/*	Animations
------------------------------------------ */

/*Animates Boat*/
.boat {
  animation: rock-boat 3s ease-in-out infinite;
  -webkit-animation: rock-boat 3s ease-in-out infinite;
  -moz-animation: rock-boat 3s ease-in-out infinite;
}

/*Animates Steam*/
.boat::after {
  animation: steam 4s 2s infinite;
  -webkit-animation: steam 4s 2s infinite;
  -moz-animation: steam 4s 2s infinite;
}

/*Animates Background*/
body {
	animation: bg-move 8s ease-out forwards;
	-webkit-animation: bg-move 8s ease-out forwards;
	-moz-animation: bg-move 8s ease-out forwards;
}

/*	Keyframes
------------------------------------------ */

/*Boat Keyframes*/
@-webkit-keyframes rock-boat {
  50%   { -webkit-transform: rotate(-5deg) translateY(-10px); }
}
@-moz-keyframes rock-boat {
  50%   { -moz-transform: rotate(-5deg) translateY(-10px); }
}
@keyframes rock-boat {
  50%   { transform: rotate(-5deg) translateY(-10px); }
}

/*Steam Keyframes*/
@-webkit-keyframes steam {
  40%,
  60%  { opacity: 1; }
  100% { -webkit-transform: translate(-15%, -35%) rotateZ(20deg); }
}
@-moz-keyframes steam {
  40%,
  60%  { opacity: 1; }
  100% { -moz-transform: translate(-15%, -35%) rotateZ(20deg); }
}
@keyframes steam {
  40%,
  60%  { opacity: 1; }
  100% { transform: translate(-15%, -35%) rotateZ(20deg); }
}

/*Background Movement Keyframes*/
@-webkit-keyframes bg-move {
	0%		{ background-position: 100% -560px; }
  100%	{ background-position: -350% -460px; }
}
@-moz-keyframes bg-move {
	0% 		{ background-position: 100% -560px; }
  100%	{ background-position: -350% -460px; }
}
@keyframes bg-move {
	0% 		{ background-position: 100% -560px; }
  100% 	{ background-position: -350% -460px; }
}
